# HDD
ACTION=="add", KERNEL=="sd[a-z]*", ATTR{removable}=="0", \
  ATTR{queue/rotational}=="1", ATTR{queue/scheduler}="mq-deadline", \
  ATTR{queue/read_ahead_kb}="512", ATTR{queue/rq_affinity}="2"
# Thumb drive
ACTION=="add", KERNEL=="sd[a-z]*", ATTR{removable}=="1", \
  ATTR{queue/rotational}="0", ATTR{queue/scheduler}="none", \
  ATTR{queue/read_ahead_kb}="512", ATTR{queue/rq_affinity}="2"
# SSD and zram
ACTION=="add", KERNEL=="nvme[0-9]*|sd[a-z]*|mmcblk[0-9]*|zram[0-9]*", 
  ATTR{removable}=="0", ATTR{queue/rotational}=="0", \
  ATTR{queue/scheduler}="none", ATTR{queue/nr_requests}="128", \
  ATTR{queue/read_ahead_kb}="512", ATTR{queue/rq_affinity}="2"
